.wrapper {
	background: #FFF;
	margin: 0 auto;
	overflow-x: scroll;

	.logout {
		color: #000;
		padding: 10px 32px;
		background: rgb(210, 233, 235);
		display: inline-block;
		cursor: pointer;
	}
}


table {
	font-size: 16px;
	line-height: 20px;
	border-collapse: collapse;
	background: #FFF;
	margin-bottom: 12px;

	td {
		border: 1px solid #000;
		white-space: nowrap;
		padding: 2px 10px;
	}

	.credit-rating {
		padding: 10px 0;
		text-align: center;
	}

	.question-number, .total-score, .time {
		font-weight: bold;
		padding: 10px 10px 0 10px;
	}

	.question-number {
		cursor: pointer;
	}

	.score {
		text-align: right;
	}

	.name {
		cursor: pointer;
		text-align: right;

		&:hover {
			background: rgb(224, 224, 224);
		}

		&:last-child {
			cursor: auto;

			&:hover {
				background: initial;
			}
		}
	}

	.special {
		background: rgb(210, 233, 235);
	}
}