.wrapper {
	background: #FFF;
	margin: 0 auto;
}

table {
	font-size: 16px;
	line-height: 20px;
	border-collapse: collapse;
	background: #FFF;
	margin-bottom: 12px;

	#table td {
		border: 1px solid #000;
	}

	td {
		white-space: nowrap;
		padding: 2px 10px;
	}

	.options {

		td {
			color: #FFF;
			text-align: center;
			cursor: pointer;
		}

		td:first-child {
			color: #000;
			cursor: auto;
			background: #FFF;
		}

		.logout {
			background: rgb(0, 150, 255);
		}
	}

	.credit-rating {
		padding: 10px 0;
		text-align: center;
	}

	.question-number, .total-score, .time, .student-name {
		font-weight: bold;
		padding: 10px 10px 0 10px;
	}

	.question-number {
		cursor: pointer;
	}

	.score {
		text-align: right;
	}

	.name {
		cursor: pointer;
		text-align: right;

		&:hover {
			background: rgb(224, 224, 224);
		}

		&:last-child {
			cursor: auto;

			&:hover {
				background: initial;
			}
		}
	}

	.special {
		background: rgb(210, 233, 235);
	}
}

.standard, .conserving {
	background: rgb(171, 171, 171);
}

.selected {
	color: #FFF;
	background: rgb(126, 125, 125);
}

#group {
	text-transform: capitalize;
}

.x {
	cursor: pointer;
}