.wrapper {
	width: 960px;
	background: #FFF;
	margin: 0 auto;
	padding: 100px 0;

	.login-container {
		width: 400px;
		margin: 0 auto;
		background: #D87400;
		padding: 80px 0;
		border-radius: 4px;
	}
}

.login-data {
	color: #FFF;
	width: 250px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 45px;
	font-weight: 200;

	&:last-child {
		padding-bottom: 0px;
	}

	input {
		position: absolute;
		right: 0;
		top: -7px;
		padding: 10px;
		width: 105px;
		font-size: 14px;
	}

	.login {
		display: inline-block;
		position: absolute;
		right: 0;
		padding: 10px 15px;
		background: rgb(41, 69, 75);
		border-radius: 4px;
		cursor: pointer;

		&:hover {
			background: rgb(62, 99, 107);
		}
	}
}