@import "compass/reset";

$header: #587833;
$arrow: #3C72A5;
$points: #F8FF00;

body {
	font-family: Helvetica, sans-serif;
	background: #acacac;
	font-size: 22px;
	line-height: 28px;
}

* {
	vertical-align: top;
}

a {
	text-decoration: none;
}

header {
	color: #FFF;
	height: 100px;
	width: 960px;
	background: $header;
	margin: 0 auto;
	position: relative;

	a {
		color: #FFF;
	}

	h1 {
		font-size: 60px;
		line-height: 110px;
		padding-left: 20px;
		display: inline-block;
		cursor: pointer;
	}

	.admin {
		text-align: right;
		display: inline-block;
		position: absolute;
		right: 20px;
		top: 55px;
		cursor: pointer;
	}
}

.next-page, .previous-page {
	position: absolute;
	display: inline-block;
	width: 145px;
	height: 120px;
	top: 0;

	.rectangle {
		color: #FFF;
		width: 105px;
		position: absolute;
		top: 26px;
		display: inline-block;
		background: $arrow;
		vertical-align: top;
	}

	.arrow-right, .arrow-left {
		position: absolute;
		top: 0;
		width: 0; 
		height: 0; 
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;

		display: inline-block;
		vertical-align: top;
	}

	.arrow-right {
		right: 0;
		border-left: 60px solid $arrow;
	}

	.arrow-left {
		left: 0px;	
		border-right: 60px solid $arrow;
	}
}

.next-page {
	right: 0;
	
	.rectangle {
		line-height: 65px;
		height: 65px;
		left: 0;
		padding-left: 15px;
		border-radius: 0 15px 15px 0;
	}

	.submit {
		text-align: center;
		border-radius: 15px;
		padding: 0 20px;
	}
}

.previous-page {
	left: 0;

	.rectangle {
		line-height: 25px;
		padding-top: 7px;
		height: 58px;
		text-align: center;
		padding-left: 5px;
		right: 0;
		border-radius: 15px 0 0 15px;
	}
}


.bottom-nav {
	position: relative;
	width: 95%;
	height: 100px;
	margin: 40px auto 0;
	padding-top: 15px;

	.review {
		border: 1px solid rgb(0, 0, 0);
		width: 414px;
		padding: 15px;
		margin: 0 auto 0;
	}
}
