.wrapper {
	width: 960px;
	background: #FFF;
	margin: 0 auto;
	padding: 25px 0;

	a {
		color: #000;

		&:hover {
			color: #587833;
		}
	}

	.line {
		font-size: 22px;
		font-weight: bold;
		text-align: center;
		display: block;
		padding-bottom: 35px;

		&:last-child {
			padding-bottom: 0;
		}
	}

	.extra-grateful {
		font-size: 28px;
	}

}