<!DOCTYPE html>

<html>
<head>
    <title>details | guidance</title>

    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

    <link href="../stylesheets/main.css" media="screen, projection" rel="stylesheet" type="text/css"/>
    <link href="../stylesheets/details.css" media="screen, projection" rel="stylesheet" type="text/css"/>

</head>
<body>

    <header>
        <a href="../"><h1>Envision Rating System</h1></a>
    </header>

    <div class="wrapper" id="details"></div>

    <!-- just the the question number -->
    <span id="qNumber">QL1.1</span>


    <script type="text/template" id="question">

        <div class="overview width color-depends">
            <span class="question-blurb"><%= question.number %> <%= question.synopsis %></span>
            <span class="breakdown">Intent</span>
            <span class="intent"><%= question.intent %></span>
            <span class="breakdown">Metric</span>
            <span class="metric"><%= question.metric %></span>
        </div>


        <div class="section-heading width">Levels of Achievement</div>

        <table class="width">
            <tbody>
                <tr class="levels color-depends">
                    <td class="level">Improved</td>
                    <td class="level">Enhaced</td>
                    <td class="level">Superior</td>
                    <td class="level">Conserving</td>
                    <td class="level">Restorative</td>
                </tr>
                <tr>
                    <td>
                        <span class="points">(<%= question.improved.points %>)</span>
                        <span class="synopsis"><%= question.improved.synopsis %></span>
                        <br>
                        <p><%= question.improved.copy %></p>
                    </td>
                    <td>
                        <span class="points">(<%= question.enhanced.points %>)</span>
                        <span class="synopsis"><%= question.enhanced.synopsis %></span>
                        <br>
                        <p><%= question.enhanced.copy %></p>
                    </td>
                    <td>
                        <span class="points">(<%= question.superior.points %>)</span>
                        <span class="synopsis"><%= question.superior.synopsis %></span>
                        <br>
                        <p><%= question.superior.copy %></p>
                    </td>
                    <td>
                        <span class="points">(<%= question.conserving.points %>)</span>
                        <span class="synopsis"><%= question.conserving.synopsis %></span>
                        <br>
                        <p><%= question.conserving.copy %></p>
                    </td>
                    <td>
                        <span class="points">(<%= question.restorative.points %>)</span>
                        <span class="synopsis"><%= question.restorative.synopsis %></span>
                        <br>
                        <p><%= question.restorative.copy %></p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="section-heading width">Descirption</div>

        <div class="width" id="description"><%= question.descriptionHTML %></div>

        <div class="section-heading width">Advancing to Higher Achievement Levles</div>

        <div class="width">
            <span class="emphit">Benchmark</span>
            <p><%= question.benchmark %></p>
            <br>
            <br>
            <span class="emphit">Performance Improvement</span>
            <p><%= question.perfImprove %></p>
        </div>

        <div class="section-heading width">Evaluation Criteria and Documentation</div>

        <div class="width" id="ol"><%= question.olHTML %></div>

    </script>

    <script type="text/javascript" src="../scripts/details_data.js"></script>
    <script type="text/javascript" src="../scripts/data.js"></script>
    <script type="text/javascript" src="../scripts/details.js"></script>
    <script type="text/javascript" src="../scripts/bullify.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>

</body>
</html>