/* line 1, ../sass/admin.scss */
.wrapper {
  background: #FFF;
  margin: 0 auto;
}

/* line 7, ../sass/admin.scss */
table {
  font-size: 16px;
  line-height: 20px;
  border-collapse: collapse;
  background: #FFF;
}
/* line 13, ../sass/admin.scss */
table td {
  border: 1px solid #000;
  white-space: nowrap;
  padding: 2px 10px;
}
/* line 19, ../sass/admin.scss */
table .credit-rating {
  padding: 10px 0;
  text-align: center;
}
/* line 24, ../sass/admin.scss */
table .question-number, table .total-score, table .time {
  font-weight: bold;
  padding: 10px 10px 0 10px;
}
/* line 29, ../sass/admin.scss */
table .question-number {
  cursor: pointer;
}
/* line 33, ../sass/admin.scss */
table .score {
  text-align: right;
}
/* line 37, ../sass/admin.scss */
table .name {
  cursor: pointer;
  text-align: right;
}
/* line 41, ../sass/admin.scss */
table .name:hover {
  background: #e0e0e0;
}
/* line 45, ../sass/admin.scss */
table .name:last-child {
  cursor: auto;
}
/* line 48, ../sass/admin.scss */
table .name:last-child:hover {
  background: initial;
}
/* line 54, ../sass/admin.scss */
table .special {
  background: #d2e9eb;
}
