/* line 7, ../sass/directions_normal.scss */
.wrapper {
  width: 960px;
  background: #FFF;
  margin: 0 auto;
  padding-bottom: 50px;
}
/* line 13, ../sass/directions_normal.scss */
.wrapper em {
  font-style: italic;
}
/* line 17, ../sass/directions_normal.scss */
.wrapper .directions {
  padding-top: 40px;
  display: block;
  margin-left: 100px;
  font-weight: bold;
}
/* line 24, ../sass/directions_normal.scss */
.wrapper .directions-copy {
  width: 650px;
  margin-left: 150px;
}
/* line 29, ../sass/directions_normal.scss */
.wrapper .name-form {
  width: 650px;
  margin: 50px 0 0 145px;
  padding: 50px 10px 10px;
  background: #FFF;
  border: 1px solid #000;
}
/* line 36, ../sass/directions_normal.scss */
.wrapper .name-form .please-enter {
  display: inline-block;
  margin: 20px 35px 0 25px;
  vertical-align: top;
}
/* line 42, ../sass/directions_normal.scss */
.wrapper .name-form .name {
  display: inline-block;
  margin-right: 45px;
}
/* line 46, ../sass/directions_normal.scss */
.wrapper .name-form .name input {
  padding: 20px 10px;
  font-size: 18px;
  width: 135px;
  border: 1px solid #000;
  margin-bottom: 8px;
}
/* line 54, ../sass/directions_normal.scss */
.wrapper .name-form .name .name-type {
  display: block;
}
/* line 60, ../sass/directions_normal.scss */
.wrapper .note {
  margin-top: 30px;
  font-size: 18px;
  line-height: 22px;
}
