/* line 8, ../sass/form.scss */
.wrapper {
  width: 930px;
  padding: 10px 15px;
  background: #FFF;
  margin: 0 auto;
  padding-bottom: 25px;
}
/* line 15, ../sass/form.scss */
.wrapper .score {
  font-size: 36px;
  padding: 22px 24px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 22, ../sass/form.scss */
.wrapper .score .margin-right {
  display: inline-block;
  margin-right: 80px;
}

/* line 29, ../sass/form.scss */
table {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  border-collapse: collapse;
}
/* line 35, ../sass/form.scss */
table td {
  padding: 8px;
  border: 3px solid #d87400;
  vertical-align: top;
}
/* line 41, ../sass/form.scss */
table select {
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
/* line 47, ../sass/form.scss */
table .question-separator {
  height: 30px;
  background: #d87400;
}
/* line 52, ../sass/form.scss */
table .table-cell {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}
/* line 58, ../sass/form.scss */
table .thinnest {
  width: 48px;
}
/* line 62, ../sass/form.scss */
table .thin {
  width: 74px;
}
/* line 66, ../sass/form.scss */
table .medium {
  width: 195px;
}
/* line 70, ../sass/form.scss */
table .wide {
  width: 224px;
}
/* line 74, ../sass/form.scss */
table .main-heading {
  color: #FFF;
  line-height: 35px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  background: #d87400;
}
/* line 85, ../sass/form.scss */
table .applicability {
  text-align: center;
  font-weight: bold;
  background: #d1e7bc;
}
/* line 90, ../sass/form.scss */
table .applicability span {
  display: block;
  margin-bottom: 5px;
}
/* line 97, ../sass/form.scss */
table .added-value select {
  margin-top: 20px;
}
/* line 101, ../sass/form.scss */
table .category-score, table .possible-points {
  font-weight: bold;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
}
/* line 108, ../sass/form.scss */
table .category-score {
  background: #f8ff00;
}
/* line 112, ../sass/form.scss */
table .bottom-section {
  padding: 4px 8px;
  text-align: right;
}
/* line 116, ../sass/form.scss */
table .bottom-section .word-minimum {
  font-weight: bold;
  font-size: 14px;
}
/* line 121, ../sass/form.scss */
table .bottom-section textarea {
  display: block;
  width: 99%;
  min-height: 70px;
  resize: vertical;
}

/* line 130, ../sass/form.scss */
.bold {
  font-weight: bold;
}

/* line 134, ../sass/form.scss */
.tac {
  text-align: center;
}
