/* line 6, ../sass/_form.scss */
.wrapper {
  width: 930px;
  padding: 10px 15px;
  background: #FFF;
  margin: 0 auto;
  padding-bottom: 50px;
  position: relative;
}
/* line 14, ../sass/_form.scss */
.wrapper .score {
  font-size: 36px;
  padding: 22px 24px;
  border: 2px solid black;
  display: inline-block;
  margin-bottom: 10px;
}
/* line 21, ../sass/_form.scss */
.wrapper .score .margin-right {
  display: inline-block;
  margin-right: 80px;
}

/* line 28, ../sass/_form.scss */
table {
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  border-collapse: collapse;
}
/* line 34, ../sass/_form.scss */
table td {
  padding: 8px;
  border: 3px solid #d87400;
  vertical-align: top;
}
/* line 40, ../sass/_form.scss */
table select {
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
/* line 46, ../sass/_form.scss */
table .question-separator {
  height: 30px;
  background: #d87400;
}
/* line 51, ../sass/_form.scss */
table .table-cell {
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}
/* line 57, ../sass/_form.scss */
table .thinnest {
  width: 48px;
}
/* line 61, ../sass/_form.scss */
table .thin {
  width: 74px;
}
/* line 65, ../sass/_form.scss */
table .medium {
  width: 195px;
}
/* line 69, ../sass/_form.scss */
table .wide {
  width: 224px;
}
/* line 73, ../sass/_form.scss */
table .main-heading {
  color: #FFF;
  line-height: 35px;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  padding-left: 15px;
  background: #d87400;
}
/* line 84, ../sass/_form.scss */
table .applicability {
  text-align: center;
  font-weight: bold;
  background: #d1e7bc;
}
/* line 89, ../sass/_form.scss */
table .applicability span {
  display: block;
  margin-bottom: 5px;
}
/* line 96, ../sass/_form.scss */
table .value-added select {
  margin-top: 20px;
}
/* line 100, ../sass/_form.scss */
table .category-score, table .possible-points {
  font-weight: bold;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
}
/* line 107, ../sass/_form.scss */
table .category-score {
  background: #f8ff00;
}
/* line 111, ../sass/_form.scss */
table .bottom-section {
  padding: 4px 8px;
  text-align: right;
}
/* line 115, ../sass/_form.scss */
table .bottom-section .words {
  font-weight: bold;
  font-size: 14px;
}
/* line 120, ../sass/_form.scss */
table .bottom-section textarea {
  font-size: 16px;
  line-height: 20px;
  padding: 5px 10px;
  display: block;
  width: 96%;
  min-height: 70px;
  resize: vertical;
}

/* line 132, ../sass/_form.scss */
.bold {
  font-weight: bold;
}

/* line 136, ../sass/_form.scss */
.tac {
  text-align: center;
}
